<div class="main-section">
    <section class="height-half">
        <div class="lg-12">
            <div class="sec-1">
                <div class="navbar">
                    <app-navbar></app-navbar>
                </div>

                <div class="content">
                    <h1>Find Your Dream Home </h1>
                    <div class="btns display">
                        <button mat-flat-button class="login-btn">Buy</button>
                        <button mat-raised-button class="login-btn">Rent</button>
                        <button mat-raised-button class="login-btn">Sell</button>
                    </div>
                    <div class="search-bar">
                        <app-search-bar></app-search-bar>
                    </div>
                    
                    <div class="align-items-center">
                        <mat-form-field class="w-10">
                            <mat-label>Max Price</mat-label>
                            <mat-select>
                                <mat-option>option a</mat-option>
                                <mat-option>option b</mat-option>
                                <mat-option>option c</mat-option>
                            </mat-select>
                            <button matSuffix mat-icon-button>
                                <mat-icon
                                    class="custom-icon material-symbols-outlined arrow-down">keyboard_arrow_down</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="w-10">
                            <mat-label>Bed</mat-label>
                            <mat-select>
                                <mat-option>option a</mat-option>
                                <mat-option>option b</mat-option>
                                <mat-option>option c</mat-option>
                            </mat-select>
                            <button matSuffix mat-icon-button>
                                <mat-icon
                                    class="custom-icon material-symbols-outlined arrow-down">keyboard_arrow_down</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="w-10">
                            <mat-label>Area</mat-label>
                            <mat-select>
                                <mat-option>option a</mat-option>
                                <mat-option>option b</mat-option>
                                <mat-option>option c</mat-option>
                            </mat-select>
                            <button matSuffix mat-icon-button>
                                <mat-icon
                                    class="custom-icon material-symbols-outlined arrow-down">keyboard_arrow_down</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="w-10">
                            <mat-label>Filters</mat-label>
                            <mat-select>
                                <mat-option>option a</mat-option>
                                <mat-option>option b</mat-option>
                                <mat-option>option c</mat-option>
                            </mat-select>
                            <button matSuffix mat-icon-button>
                                <mat-icon
                                    class="custom-icon material-symbols-outlined arrow-down">instant_mix</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="home-tree display content-between">
                <div class="left-tree">
                    <img src="../../assets/img/left-tree.png" alt="">
                </div>

                <div class="right-tree">
                    <img src="../../assets/img/left-tree.png" alt="">
                </div>
            </div>

        </div>
    </section>

    <!-- map and cards area -->
    <div class="m-1">

        <div class="card-items">
            <div class="card-wrapper swiper-slide" *ngFor="let card of cards">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img [src]="card.imgSrc" alt="Card Image" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h1 class="appartment">{{ card.name }}</h1>
                        <p class="address">{{ card.address }}</p>

                        <div class="details">
                            <div class="display">
                                <div class="home-detail bedroom display">
                                    <img src="../../assets/img/bed-white.png" alt="" class="home-img">
                                    <div class="detail-font">{{card.room}}</div>
                                </div>
                                <div class="home-detail bath display">
                                    <img src="../../assets/img/bath-white.png" alt="" class="home-img">
                                    <div class="detail-font">{{card.bath}}</div>
                                </div>
                                <div class="home-detail  display">
                                    <img src="../../assets/img/sq.ft-white.png" alt="" class="home-img">
                                    <div class="detail-font sq.ft">{{card.sqft}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="display contact content-between">
                            <h2>$ {{card.price}}</h2>
                            <button mat-flat-button [routerLink]="card.buttonUrl">Contact Agent</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <google-map height="93%" width="50%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
            [options]="options" (mapClick)="addMarker($event)" (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                [options]="markerOptions"></map-marker>
        </google-map>

    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>