h1 {
    font-size: 1.57vw;
    font-family: 'bold';
    color: var(--white);
}

h2{
    margin-top: 1.4vw;
    font-size: 1.32vw;
    font-family: "bold";
    color: var(--royal-blue);
    border-right: 0.1vw solid rgba(196, 196, 196, 1);
    padding-right: 2.5vw;
}

.swiper-wrapper {
    display: flex;
    position: absolute;
    gap: 1.1vw;
    padding: 0vw 3.5vw;
    background-color: var(--white);
    padding-bottom: 4vw;
}

.card {
    width: 100% !important;
    margin-right: 2vw;
    background: var(--sec-light);
    border-radius: 1vw;
    padding-bottom: 1vw;
}

.card-image {
    width: 100%;
}

.card-img {
    width: 100%;
    height: 9.5vw;
    border-radius: 1vw;
    object-fit: cover;
}

.swiper-slide {
    width: 22.2vw!important;
}

.carousel-btn{
    text-align: right;
    padding-bottom: 4vw;
    margin-right: 3vw;
}

.carousel-btn button{
    border: 0.1vw solid var(--carousel-btn);
    border-radius: 50%;
    padding: 0.5vw 0vw 0vw 0.3vw;
    color: var(--black);
    margin-left: 1vw;
}

.card-content{
    padding: 0vw 1.5vw;
}

.appartment{
    color: var(--black);
    font-size: 0.87vw;
    margin-top: 0.6vw;
    font-family: 'bold';
}

.address{
    font-size: 0.82vw;
    letter-spacing: 0.02vw;
    margin-top: 0.5vw;
    font-family: "reg";
    color: var(--carousel-add);
}

.home-detail{
   width: 2.4vw;
   margin-top: 0.65vw;
}

.home-img{
    width: 100%;
    padding: 0.3vw;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--sec-light);
}

.detail-font{
    font-size: 0.7vw;
    align-content: center;
    margin-left: 0.3vw;
    font-family: 'med';
    padding-right: 1vw;
    border-right: 0.1vw solid rgba(196, 196, 196, 1);
}

.bath{
    margin-left: 3.1vw;
    margin-right: 3.1vw;
}

.contact button{
    background-color: var(--royal-blue);
    border-radius: 3vw;
    padding: 1.3vw 1.8vw;
    color: var(--white);
    font-size: 0.65vw;
    font-family: "reg";
    margin-top: 1vw;
}

.rental-btn{
    margin-top: 22.3vw;
    text-align: center;
    padding-bottom: 3vw;
}

.rental-btn button{
    color: var(--black);
    border: 0.1vw solid var(--black);
    font-size: 1.05vw;
    font-family: "reg";
    padding: 1.7vw 2.7vw;
    margin-top: 3vw;
    border-radius: 3vw;
}