<div id="footer">

    <div class="footer-upper">

        <div class="brand-info logo-upper-colmn">

            <img src="../../assets/img/nav-logo.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur. A urna dolor neque quis tortor. Cras auctor mauris tincidunt sed
                fusce rhoncus. </p>

        </div>

        <div class="get-box-bottom">

            <h1>Get In Touch</h1>

            <div class="bold-text display">
                <span>Phone :</span>
                <div class="light-text">123 456 7890</div>
            </div>
            <div class="bold-text display">
                <span>Email :</span>
                <div class="light-text">info&#64;rightbehindme.com</div>
            </div>
            <div class="bold-text display">
                <span>Address :</span>
                <div class="light-text">123 Street, Chicago USA.</div>
            </div>

        </div>

        <div class="fu-box-bottom">
            <h1>
                Follow Us:
            </h1>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Linkedin</li>
            <li>X</li>

        </div>
        <div class="stn-box-bottom">

            <h1 class="stn-box-head">Subscribe To Newsletter</h1>
            <p class="stn-box-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <form action="" class="stn-input display">
                <input type="text" placeholder="Enter your email">
                <button>
                    <span class="material-symbols-outlined input-icon">
                        send
                        </span>
                  </button>
            </form>

        </div>


    </div>

    <div class="footer-bottom">

        <div class="qu-box-bottom">

            <h1>Quick Links</h1>

            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Contact us</li>


        </div>

        <div class="comp-box-bottom">
            <h1>Company</h1>
            <li>Login</li>
            <li>Dashboard</li>
            <li>Agent/Broker Profile</li>
            <li>Analytics and Reporitng</li>
            <li>Buying</li>
            <li>Selling</li>
            <li>Listing Map</li>
            <li>Rent</li>
        </div>

        <div class="company-box-bottom">
            <h1>Company</h1>
            <li>Privacy Policy</li>
            <li>Terms & Condition</li>
            <li>Cookie policy</li>

        </div>

        <div class="commu-box-bottom">
            <h1>Community</h1>
            <li>Blogs</li>
            <li>News</li>
            <li>Tiktoks</li>

        </div>


    </div>
    <div class="copyright-sec">
        <p class="copyright">©2024 Right Behind Me. All Rights Reserved</p>
        <p class="copyright-text">Sitemap</p>
    </div>