* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.55vw;
    font-family: 'bold';
    color: var(--white);
    padding-bottom: 1.35vw;
}

li{
    list-style: none;
    padding-bottom: 0.8vw;
    font-size: 0.96vw;
}

.bold-text span{
    width: 4.2vw;
    list-style: none;
    padding-bottom: 0.77vw;
    font-size: 0.92vw;
    font-family: 'bold';
}

.light-text{
    font-size: 1vw;
    font-family: "reg";
    padding-left: 0.25vw;
    font-family: "reg";
    letter-spacing: 0.02vw;
}

p {
    font-size: 1.1vw;
    font-family: 'reg';
    color: var(--white);
}

#footer {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.logo-upper-colmn {
    width: 28.6%;
    padding: 6.5vw 5.5vw 5.9vw 3.6vw;
}

.get-box-bottom{
    width: 26.5%;
    padding: 5.3vw 3vw 0vw 5.3vw;
    border-right: 0.1vw solid var(--footer-border);
}

.fu-box-bottom{
    width: 18.7%;
    border-right: 0.1vw solid var(--footer-border);
    padding: 5.3vw 3vw 0vw 5.3vw;
}

.stn-box-bottom{
    width: 26%;
    padding: 5.3vw 3vw 0vw 5.1vw;
}

.stn-box-head{
    font-family: "med";
    font-size: 1.6vw;
    color: var(--white);
    letter-spacing: 0.02vw;

}

.stn-box-para{
    font-size: 1.05vw;
    font-family: "reg";
    color: var(--white);
    width: 86%;
    line-height: 1.6vw;
    letter-spacing: 0.028vw;
}

.stn-input{
    margin-top: 0.95vw;
}

.stn-input input{
    font-size: 0.8vw;
    font-family: 'reg';
    color: var(--white);
    background-color: rgba(31, 31, 31, 1);
    padding-left: 1.2vw;
    width: 80%;
    border: 0;
}

.stn-input button{
    padding: 0.15vw 0;
    background-color: var(--royal-blue);
    border-radius: 0.15vw;
    border: 0;
}

.input-icon{
    padding: 0.6vw 1.3vw;
    color: var(--white);
    rotate: -48deg;
    font-size: 1.2vw;
}

.qu-box-bottom{
    width: 22.5%;
    border-right: 0.1vw solid var(--footer-border);
    padding: 3.5vw 0vw 0vw 5vw;
}

.comp-box-bottom{
    width: 30%;
    padding: 3.5vw 0vw 0.9vw 5vw;
    border-right: 0.1vw solid var(--footer-border);
}

.company-box-bottom{
    width: 27%;
    padding: 3.5vw 0vw 0vw 5vw;
    border-right: 0.1vw solid var(--footer-border);
}

.commu-box-bottom{
    width: 21%;
    padding: 3.5vw 0vw 0vw 5vw;
    border-right: 0.1vw solid var(--footer-border);
}

.footer-upper {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
}

.brand-info img {
    width: 14.8vw;
}

.brand-info p {
    color: var(--white);
    padding-top: 1.32vw;
    letter-spacing: 0.03vw;
}

.brand-info {
    border-right: 0.1vw solid var(--footer-border);
}

.footer-bottom {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    border-top: 1px solid var(--footer-border);
    border-bottom: 1px solid var(--footer-border);

}

.copyright-sec {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 2vw 3.5vw 2vw 4.8vw;
}

.copyright{
    letter-spacing: 0.07vw;
}

.copyright-text{
    font-family: 'med';
    font-size: 1.1vw;
    color: var(--white);
}