<h1>carousel</h1>

<div class="slide-container swiper">
    <div class="swiper-container slide-content">
        <div class="swiper-wrapper">
            <div class="card-wrapper swiper-slide" *ngFor="let card of cards">

                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img [src]="card.imgSrc" alt="Card Image" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">{{ card.name }}</h2>
                        <p class="description">{{ card.description }}</p>
                        <button class="button">View More</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add pagination buttons -->
        <button ></button>
        <button mat-icon-button (click)="slideNext()" class="swiper-button-next">
            <mat-icon>open_in_new</mat-icon>
          </button>
        <button class="swiper-button-prev"></button>
    </div>
</div>