h1 {
    font-size: 1.57vw;
    font-family: 'bold';
    color: var(--black);
}

.swiper-wrapper {
    display: flex;
    position: absolute;
    gap: 2.1vw;
    padding: 0vw 3.5vw;
    background-color: var(--blog-sec);
    padding-bottom: 7.2vw;
}

.swiper-slide {
    width: 45vw !important;
}

.card {
    width: 100% !important;
    margin-right: 2vw;
}

.card-image {
    width: 83%;
}

.card-img {
    width: 100%;
    object-fit: cover;
}



.carousel-btn{
    text-align: right;
    padding-bottom: 4.3vw;
    padding-right: 3vw;
}

.carousel-btn button{
    border: 0.1vw solid var(--carousel-btn);
    border-radius: 50%;
    padding: 1vw 0vw 0vw 0.3vw;
    color: var(--black);
    
}

.community-carousel-icon {
    font-size: 1vw;
}

.swiper-button-next{
    margin-left: 1vw;
}

.card-content{
    margin-top: 1vw;
    width: 70%;
    padding-left: 1.95vw;
}

.card-tag{
    background-color: var(--red);
    padding: 0vw 1.2vw;
    font-size: 0.8vw;
    font-family: "reg";
    align-content: center;
    text-transform: capitalize;
    color: var(--white);
    border-radius: 1vw;
    margin-right: 1vw;
}

.card-tag span{
    padding: 0;
}

.card-content p{
    color: var(--black);
    margin-top: 0.8vw;
    padding-right: 1.9vw;
    font-size: 0.89vw;
}

.blog-btn{
    margin-top: 1.5vw;
}

.blog-btn-icon{
    font-size: 1.2vw;
    padding: 0;
}

.blog-btn a span{
    color: var(--royal-blue);
    font-size: 0.95vw;
    font-family: 'bold';
    transition: color 0.3s;
    margin-left: -0.2vw;
}

.card-content a:hover{
    color: var(--dark-blue);
}

.blog-img-content{
    margin-top: 1.3vw;
}

.date-div{
    align-items: center;
}

.date{
    font-size: 0.8vw;
    font-family: 'reg';
    color: var(--black);
    padding-left: 0.8vw;
}

.badge{
    font-size: 0.8vw;
    font-family: 'med';
    color: var(--black);
    padding-left: 0.4vw;
    border-left: 0.1vw solid var(--black);
    align-content: center;
}

.circle{
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: var(--royal-blue);
}


