<div id="pop-up">
    <div class="left-content">
    
    <div>
    <img src="../../assets/img/Rectangle 36.png" alt="">
    </div>
    
    <div class="grid-view">
    <img src="../../assets/img/Rectangle 37.png" alt="">
    <img src="../../assets/img/Rectangle 37.png" alt="">
    <img src="../../assets/img/Rectangle 37.png" alt="">
    <img src="../../assets/img/Rectangle 37.png" alt="">
    </div>
    
    
    
    </div>
    <div class="right-content">
    <div class="first-box">
    <h2>New Apartment Nice View</h2>
    <p>Quincy St, Brooklyn, NY, USA</p>
    <div class="additional">
    <div class="additional-left">
    <li><img src="../../assets/img/Group 1000002413.svg" alt="">&nbsp; 03 &nbsp;</li>
    <li><img src="../../assets/img/Group 1000002413.svg" alt="">&nbsp; 02 &nbsp;</li>
    <li><img src="../../assets/img/Group 1000002413.svg" alt=""> &nbsp; 12,00 sq Ft &nbsp;</li>
    </div>
    <div class="additional-right">
    <li><img src="../../assets/img/Vector.svg" alt=""></li>
    <li><img src="../../assets/img/Vector.svg" alt=""></li>
    <li><img src="../../assets/img/Vector.svg" alt=""></li>
    
    </div>
    </div>
    <div class="price_id">
    <div class="price"><h4>$ 25,000</h4></div>
    <div class="id"><p>Propert ID: #12345</p></div>
    </div>
    
    </div>
    <div class="list-div">
    <li>Property Information</li>
    <li>Property Details</li>
    <li>Amenities</li>
    <li>Gallery</li>
    <li>Videos</li>
    </div>
    
    <div class="information-table">
    <h5>Property Information</h5>
    <div class="property-table">
    <div class="left-prop-table">
    <div class="left-prop">
    <p>Type</p><p>House</p>
    
    
    
    </div>
    <div class="right-prop"></div>
    
    </div>
    </div>
    
    </div>
    
    <div class="property-information">
    <h5>Property Information</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.
    lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum.</p>
    </div>
    <div class="ameneties">
    <h5>Amenities</h5>
    <div style="display: flex; justify-content: space-between; width: 50%; padding-top: 1vw;">   
    <p>Air Conditioning</p>
    <p>Tv Cable</p>
    </div>
    <div style="display: flex; justify-content: space-between; width: 50%; padding-top: 1vw;">   
        <p>Lawn</p>
        <p>Dryer</p>
        </div>
        <div style="display: flex; justify-content: space-between; width: 50%; padding-top: 1vw; text-align: left;">   
            <p>Swimming Pool</p>
            <p>Outdoor Shower</p>
            </div>
    </div>
    </div>
    
    </div>