<section>
    <div class="lg-12">
        <div class="sec-1">

            <div class="navbar">
                <app-navbar></app-navbar>
            </div>

            <div class="content">
                <h1>My Listings </h1>
                <div class="btns display">
                    <a href="">Home</a>
                    <div class="slash">/</div>
                    <a href="">My Listings</a>
                </div>
            </div>

        </div>

        <div class="home-tree display content-between">
            <div class="left-tree">
                <img src="../../assets/img/left-tree.png" alt="">
            </div>

            <div class="right-tree">
                <img src="../../assets/img/left-tree.png" alt="">
            </div>
        </div>

    </div>
</section>

<section>
    <div class="sec-2 container-site">

        <div class="selects display">

            <div class="listing-id options">
                <mat-form-field>

                    <select matNativeControl required>
                        <option value="volvo">Enter Listing ID</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="city options">
                <mat-form-field>

                    <select matNativeControl required>
                        <option value="volvo">Select City</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="location options">
                <mat-form-field>

                    <select matNativeControl required>
                        <option value="volvo">location</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="location options">
                <mat-form-field>

                    <select matNativeControl required>
                        <option value="volvo">Select Property Type</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="listing-filter">
                <button mat-button>
                    <span>Filters</span>
                    <mat-icon>tune</mat-icon>
                  </button>
                  
            </div>

        </div>

    </div>
</section>