h1 {

    font-family: "bold";
    font-size: 5.2vw;
    padding-top: 5.8vw;
    text-align: center;
    line-height: 5.5vw;
    color: var(--head-black);
}

h2 {
    font-family: "bold";
    font-size: 4.17vw;
    color: var(--black);
}

h3 {
    font-size: 2.1vw;
    font-family: 'bold';
    color: var(--black);
    margin-bottom: 0.7vw;
}

h5 {
    font-size: 0.755vw;
    font-family: 'reg';
}

p {
    font-family: "reg";
    font-size: 1.1vw;
    color: var(--head-black);
    text-align: center;
    letter-spacing: 0.03vw;
    line-height: 1.6vw;
}

.container-site {
    padding: 0vw 3.55vw;
}

.home-sec {
    background-image: url(../../assets/img/home-bottom.png);
    background-size: 100%;
    background-position: 0vw 25.5vw;
    background-repeat: no-repeat;
}

.main-head {
    width: 63%;
    margin: auto;
}

.para-1 {
    width: 35vw;
    margin: auto;
    margin-top: 1.1vw;
    margin-bottom: 0.5vw;
}

.search-bar {
    margin-top: 1.8vw;
    margin-bottom: 1vw;
}

.or-text {
    width: 10vw;
    padding: 0vw 2vw;
    margin: auto;
    margin-top: -1.5vw;
    margin-bottom: 0.8vw;
}

.or {
    margin: auto;
    color: var(--black);
}

.or-line {
    transform: rotate(90deg);
    height: 2.8vw;
}

.head-2 {
    width: 37%;
    margin: auto;
}

.para-2 {
    text-align: center;
    margin: auto;
    width: 63%;
}

.para-2 p {
    line-height: 1.25vw;
    color: var(--black);
    margin-bottom: 1.45vw;
}

.head-btn{
    width: 11vw;
    margin: auto;
}

.head-2 button {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 1.7vw 0vw;
    margin-bottom: 4.8vw;
    font-size: 1vw;
    font-family: "reg";
    border-radius: 3vw;
}

.home-tree {
    margin-top: -40vw;
    width: 20vw;
}

.tree-img {
    width: 100%;
    object-fit: cover;
}

.right-tree {
    transform: scaleX(-1);
    float: right;
    margin-top: -37.3vw;
    width: 20vw;
    object-fit: cover;
}

.sec-2 {
    background-color: var(--sec-light);
    padding-top: 2.8vw;
}

.carousel-portion {
    width: 100%;
}

.seller-carousel-portion{
    padding-top: 6vw;
}

.head-3 {
    margin-top: 0.45vw;
    width: 44%;
}

.carousel-line {
    align-content: center;
    width: 44%;
    margin-left: 2.5vw;
}

.rental-carousel{
    margin-top: -4.7vw;
}

.seller-head-3{
    width: 37%;
}

.seller-carousel-line{
    width: 53%;
    align-content: center;
}

.post-property{
    margin-top: 3vw;
}

.register-bg {
    background-color: var(--royal-blue);
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 5.35vw;
    border-radius: 1vw;
}

.left-text {
    width: 26.1%;
    padding: 3.7vw 0vw 3.7vw 2.05vw;
}

.left-text h3 {
    line-height: 2.05vw;
    padding-bottom: 0.4vw;
    padding-top: 0.3vw;
}

.left-text h5 {
    letter-spacing: 0.04vw;
}

.left-text h3,
.left-text h5 {
    color: var(--white);
}

.residential {
    padding-top: 0.4vw;
}

.center-text {
    width: 25%;
    margin-left: 1.3vw;
    margin-top: 4vw;
}

.btn-counter button {
    font-size: 0.8vw;
    font-family: "bold";
    color: var(--royal-blue);
    margin-bottom: 2.1vw;
    padding: 1vw 4.5vw;
    letter-spacing: 0.01vw;
}

.counter {
    width: 21.8vw;
    justify-content: space-between;
}

.counter-num {
    font-size: 1.46vw;
    font-family: 'bold';
    color: var(--white);
}

.counter-name {
    font-size: 0.65vw;
    color: var(--white);
    font-family: 'reg';
    margin-top: 0.2vw;
}

.house-img-width {
    width: 47%;
    margin-top: -3.6vw;
    margin-left: 0.45vw;
}

.house-img {
    width: 100%;
    object-fit: cover;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border-bottom-right-radius: 1vw;
}

.dream-home {
    width: 60.5%;
}

.dream-home img {
    width: 100%;
}

.dream-content {
    width: 37%;
}

.dream-content h2 {
    color: var(--head-black);
    margin-top: 8.4vw;
    line-height: 4.6vw;
    padding-left: 1.05vw;
}

.dream-content p {
    color: var(--black);
    margin-top: 1.3vw;
    padding-left: 1.05vw;
    padding-right: 6.5vw;
    text-align: start;
    margin-bottom: 1.4vw;
}

.dream-content button {
    margin-left: 1.05vw;
    background-color: var(--royal-blue);
    border-radius: 1.8vw;
    color: var(--white);
    font-size: 1vw;
    font-family: 'reg';
    padding: 1.8vw 1.3vw;
}

.market-sec {
    margin-top: -0.5vw;
    background: var(--royal-blue) url(../../assets/img/market-img.png);
    background-repeat: no-repeat;
    background-position: right 4.7vw;
    background-size: 59.27% 55.2%;
    object-fit: cover;
    padding-bottom: 23.3vw;
}

.left-site {
    padding-left: 3.55vw;
}

.market-content {
    width: 41%;
}

.market-content h2 {
    margin-top: 12vw;
    color: var(--white);
    line-height: 4.3vw;
    margin-bottom: 1.6vw;
}

.market-content p {
    color: var(--white);
    text-align: start;
    width: 93%;
}

.market-content button {
    margin-top: 1.45vw;
    border: 0.1vw solid var(--white);
    color: var(--white);
    font-size: 1vw;
    font-family: 'reg';
    padding: 1.8vw 3.05vw;
    border-radius: 2.5vw;
    background-color: transparent;
}

.sec-6{
    background-color: var(--dark-blue);
}

.sec-6-content{
    margin-bottom: 10.5vw;
}

.sec-left-6{
    width: 68.9%;
    margin-top: -14.7vw;
}

.sec-left-6 img{
    width: 100%;
    border-radius: 3.5vw;
    object-fit: cover;
}

.sec-right-6{
    width: 46%;
    margin-top: -14.7vw;
    padding-left: 3.2vw;
}

.sec-right-6 img{
    height: 37.2%;
    width: 62.1%;
    object-fit: cover;
    border-radius: 2.1vw;
}

.sec-right-6 h2{
    color: var(--white);
    padding-top: 1vw;
    padding-left: 1vw;
    
}

.sec-right-6 p{
    color: var(--white);
    text-align: start;
    padding-left: 1vw;
    padding-top: 0.4vw;
    line-height: 1.56vw;
    letter-spacing: 0.033vw;
}

.sec-6-para{
    margin-top: 0.9vw;
}

.sec-right-6 button{
    margin-top: 1.45vw;
    border: 0.1vw solid var(--white);
    color: var(--white);
    font-size: 1vw;
    font-family: 'reg';
    padding: 1.8vw 3.05vw;
    border-radius: 2.5vw;
    background-color: var(--royal-blue);
    margin-left: 1vw;
}

.sec-right-6 button:hover{
    background: transparent;
}

.sec-6-head{
    width: 100%;
}

.sec-6-head h2{
    color: var(--white);
}

.sec-6-carousel{
    margin-top: 0.65vw;
}

.sec-6-carousel-para{
    width: 38%;
}

.sec-6-carousel-para p{
    color: var(--white);
    text-align: start;
    line-height: 1.2vw;
}

.sec-6-carousel-line{
    width: 52.8%;
    padding-left: 8vw;
    align-content: center;
}

.sec-6-carousel-line hr{
    color: var(--hr);
}

.community-carousel{
    background-color: var(--dark-blue);
    margin-top: -3.5vw;
    padding-right: 3.5vw;
}

.sec-7{
    background-color: var(--blog-sec);
    margin-top: 41vw;
    padding-top: 4vw;
}

.sec-7-content {
    width: 100%;
}

.blog-head{
    width: 30%;
}

.blog-sec-line{
    width: 60%;
    align-content: center;
}

.blog-sec-line hr{
    color: var(--hr);
}

.blog-carousel{
    margin-top: -4.2vw;
}

.footer{
    margin-top: 25vw;
}